.standard-container {
  width: 680px;
  height: 325px;
}

.standard-container .function-container {
  width: 679px;
  height: 54px;
  display: flex;
  justify-content: space-between;
}

.standard-container .function-container #Escape,
.standard-container .function-container #F4,
.standard-container .function-container #F8 {
  margin-right: 30px;
}

.standard-container .main-container {
  width: 679px;
  display: flex;
  flex-wrap: wrap;

  margin-top: 15px;
}

.standard-container .main-container .main-first-line-container,
.standard-container .main-container .main-second-line-container,
.standard-container .main-container .main-third-line-container,
.standard-container .main-container .main-fourth-line-container,
.standard-container .main-container .main-fifth-line-container {
  width: 100%;
  height: 50px;
  display: flex;
}